{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    {{ encore_entry_link_tags('admin_dashboard') }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="widget-info">
                    <div class="widget-info__icon bg-info">
                        <i class="fa-solid fa-hospital"></i>
                    </div>
                    <div class="widget-info__details">
                        <p class="widget-info__title">Total Clinics</p>
                        <p class="widget-info__value">{{ clinicsCount }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="widget-info">
                    <div class="widget-info__icon bg-info">
                        <i class="fa-solid fa-download"></i>
                    </div>
                    <div class="widget-info__details">
                        <p class="widget-info__title">New Clinics</p>
                        <p class="widget-info__value">{{ recentClinicsCount }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="widget-action {{ unpublishedCount > 0 ? 'bg-warning' : 'bg-success' }}">
                    <div class="widget-action__context">
                        <div class="widget-action__details">
                            <div class="widget-action__value">{{ unpublishedCount }}</div>
                            <div class="widget-action__title">Unpublished clinics</div>
                        </div>
                        <div class="widget-action__icon">
                            <i class="fa-solid fa-magnifying-glass-location"></i>
                        </div>
                    </div>
                    <div class="widget-action__action-text">
                        {% if unpublishedCount > 0 %}
                            <a href="/admin?crudAction=index&crudControllerFqcn=App\Controller\Admin\ClinicCrudController&filters[published][comparison]=%3D&filters[published][value]=0">
                                Review clinics
                                <i class="fas fa-arrow-circle-right"></i>
                            </a>
                        {% else %}
                            <p>No action required</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="widget-action {{ duplicatesCount > 0 ? 'bg-warning' : 'bg-success' }}">
                    <div class="widget-action__context">
                        <div class="widget-action__details">
                            <div class="widget-action__value">{{ duplicatesCount }}</div>
                            <div class="widget-action__title">Potential duplicates</div>
                        </div>
                        <div class="widget-action__icon">
                            <i class="fa-regular fa-copy"></i>
                        </div>
                    </div>
                    <div class="widget-action__action-text">
                        {% if duplicatesCount > 0 %}
                            <a href="/admin?crudAction=index&crudControllerFqcn=App\Controller\Admin\DuplicateLinkCrudController">
                                Resolve duplicates
                                <i class="fas fa-arrow-circle-right"></i>
                            </a>
                        {% else %}
                            <p>No action required</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
