{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    <h2>Search for care</h2>
    {% include 'search-form.html.twig' with {
        searchForm: searchForm
    } only %}
    {% if searchResults %}
        {% if searchResults.matchedLocation %}
            {% set resultPluralized = searchResults.totalResults > 1 ? 'results' : 'result' %}
            {% set milePluralized = searchResults.totalResults > 1 ? 'miles' : 'mile' %}
            <h4 class="mt-4">{{ searchResults.totalResults }} {{ resultPluralized }} within {{ searchResults.searchRadius }} {{ milePluralized }} of {{ searchResults.matchedLocation.title }}</h4>
            <div class="row">
                <div class="col-lg-6 order-lg-1 mb-4 mb-lg-0">
                    <div id="previewMap"
                         data-origin-latitude="{{ searchResults.matchedLocation.latitude }}"
                         data-origin-longitude="{{ searchResults.matchedLocation.longitude }}"
                         data-search-radius="{{ searchResults.searchRadius }}"
                    ></div>
                </div>
                <div class="col-lg-6 order-lg-0">
                    <div class="list-group">
                    {% for clinic in searchResults.results %}
                        <div class="list-group-item list-group-item-action clinic"
                             data-index="{{ loop.index }}"
                             data-latitude="{{ clinic.latitude }}"
                             data-longitude="{{ clinic.longitude }}"
                        >
                            <div class="d-flex justify-content-between">
                                <h5>{{ clinic.name }}</h5>
                                {% set distance = distance(searchResults.matchedLocation.latitude, searchResults.matchedLocation.longitude, clinic.latitude, clinic.longitude)|round %}
                                <small class="clinic__mile-text">{{ distance }} {{ distance > 1 ? 'miles' : 'mile' }}</small>
                            </div>
                            {% if clinic.description %}
                                <p>{{ clinic.description }}</p>
                            {% else %}
                                <p>No description</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                {% include 'pagination.html.twig' with {
                    currentFilters: pageFilters,
                    currentPage: searchResults.currentPage,
                    paginationPath: "app_search",
                    lastPage: searchResults.totalPages,
                    showAlwaysFirstAndLast: true
                } only %}
            </div>
        {% else %}
            <p class="mt-4">No {{ pageFilters.searchType == 'city' ? 'cities' : 'postal codes' }} found matching "{{ pageFilters.searchText }}"</p>
        {% endif %}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('search') }}
{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('search') }}
{% endblock %}