{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    {{ form(searchForm) }}
    <hr>
    {% if searchResults %}
        {% if searchResults.matchedLocation %}
            {% set resultPluralized = searchResults.totalResults > 1 ? 'results' : 'result' %}
            {% set milePluralized = searchResults.totalResults > 1 ? 'miles' : 'mile' %}
            <h3>{{ searchResults.totalResults }} {{ resultPluralized }} within {{ searchResults.searchRadius }} {{ milePluralized }} of {{ searchResults.matchedLocation.title }}</h3>
            <div class="row mt-4">
                <div class="col-6">
                    <div class="list-group">
                    {% for clinic in searchResults.results %}
                        <div class="list-group-item list-group-item-action clinic"
                             data-index="{{ loop.index }}"
                             data-latitude="{{ clinic.latitude }}"
                             data-longitude="{{ clinic.longitude }}"
                        >
                            <h5>{{ clinic.name }}</h5>
                            {% if clinic.description %}
                                <p>{{ clinic.description }}</p>
                            {% else %}
                                <p>No description</p>
                            {% endif %}
                            <p>{{ distance(searchResults.matchedLocation.latitude, searchResults.matchedLocation.longitude, clinic.latitude, clinic.longitude)|round }} miles away</p>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="col-6">
                    <div id="previewMap"
                         data-origin-latitude="{{ searchResults.matchedLocation.latitude }}"
                         data-origin-longitude="{{ searchResults.matchedLocation.longitude }}"
                         data-search-radius="{{ searchResults.searchRadius }}"
                    ></div>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                {% include 'pagination.html.twig' with {
                    currentFilters: pageFilters,
                    currentPage: searchResults.currentPage,
                    paginationPath: "app_search",
                    lastPage: searchResults.totalPages,
                    showAlwaysFirstAndLast: true
                } only %}
            </div>
        {% else %}
            <p>No {{ formData.searchType == 'city' ? 'cities' : 'postal codes' }} found for {{ formData.searchText }}</p>
        {% endif %}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('search') }}
{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('search') }}
{% endblock %}