{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2>Search providers and clinics</h2>
        {% include 'search-form.html.twig' with {
            searchForm: searchForm
        } only %}
        {% if searchResults %}
            {% if searchResults.matchedLocation %}
                {% set resultPluralized = searchResults.totalResults == 1 ? 'result' : 'results' %}
                {% set milePluralized = searchResults.searchRadius == 1 ? 'mile' : 'miles' %}
                <h4 class="mt-4">{{ searchResults.totalResults }} {{ resultPluralized }} within {{ searchResults.searchRadius }} {{ milePluralized }} of {{ searchResults.matchedLocation.title }}</h4>
                <div class="row">
                    <div class="col-lg-6 order-lg-1 mb-4 mb-lg-0">
                        <div id="previewMap"
                             data-origin-latitude="{{ searchResults.matchedLocation.latitude }}"
                             data-origin-longitude="{{ searchResults.matchedLocation.longitude }}"
                             data-search-radius="{{ searchResults.searchRadius }}"
                        ></div>
                    </div>
                    <div class="col-lg-6 order-lg-0">
                        {% for clinic in searchResults.results %}
                            <div class="card clinic"
                                 data-index="{{ loop.index }}"
                                 data-latitude="{{ clinic.latitude }}"
                                 data-longitude="{{ clinic.longitude }}"
                            >
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="clinic-name">{{ clinic.name }}</h5>
                                        <a class="text-secondary"
                                           target="_blank"
                                           href="{{ path('app_feedback', { feedbackType: 2, clinicId: clinic.id }) }}"
                                           data-bs-toggle="tooltip"
                                           data-bs-placement="top"
                                           data-bs-title="Report issue with this listing"
                                        >
                                            <i class="fa-solid fa-circle-exclamation"></i>
                                        </a>
                                    </div>
                                    {% set distance = distance(searchResults.matchedLocation.latitude, searchResults.matchedLocation.longitude, clinic.latitude, clinic.longitude)|round %}
                                    <p class="text-muted mb-2">{{ distance }} {{ distance == 1 ? 'mile' : 'miles' }}</p>
                                    {% if clinic.address %}
                                        <p class="mb-2">{{ clinic.address }}</p>
                                    {% endif %}
                                    {% if clinic.dataSource == "erinReed" %}
                                        <span class="badge bg-blue text-black-50">
                                            <i class="fa-solid fa-check"></i>
                                            Informed Consent
                                        </span>
                                    {% endif %}
                                    {% if clinic.description %}
                                        <hr>
                                        <p class="mb-0">{{ clinic.description|raw }}</p>
                                    {% endif %}
                                </div>
                                <div class="card-footer d-flex flex-column flex-lg-row justify-content-lg-between">
                                    <small class="text-muted text-uppercase mb-2 mb-lg-0">
                                        <i class="fa-solid fa-compass"></i>
                                        Directions
                                    </small>
                                    <div>
                                        <a target="_blank"
                                           href="https://www.openstreetmap.org/directions?engine=fossgis_osrm_car&route={{ searchResults.matchedLocation.latitude }},{{ searchResults.matchedLocation.longitude }};{{ clinic.latitude }},{{ clinic.longitude }}"
                                        >
                                            OpenStreetMap
                                        </a>
                                        <a class="mx-2"
                                           target="_blank"
                                           href="https://www.google.com/maps/dir/?api=1&origin={{ searchResults.matchedLocation.latitude }},{{ searchResults.matchedLocation.longitude }}&destination={{ clinic.address|url_encode }}&travelmode=driving"
                                        >
                                            Google Maps
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row justify-content-center mt-4">
                    {% include 'pagination.html.twig' with {
                        currentFilters: pageFilters,
                        currentPage: searchResults.currentPage,
                        paginationPath: "app_search",
                        lastPage: searchResults.totalPages,
                        showAlwaysFirstAndLast: true
                    } only %}
                </div>
            {% else %}
                <p class="mt-4">No {{ pageFilters.searchType == 'city' ? 'cities' : 'postal codes' }} found matching "{{ pageFilters.searchText }}"</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('search') }}
{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('search') }}
{% endblock %}