{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    {{ form(searchForm) }}
    <hr>
    {% if searchResults %}
        {% if searchResults.matchedLocation %}
            <h3>Showing {{ searchResults.totalResults }} results within {{ searchResults.searchRadius }} {{ searchResults.totalResults > 1 ? 'miles' : 'mile' }} of {{ searchResults.matchedLocation.title }}</h3>
            {% for clinic in searchResults.results %}
                <strong>{{ clinic.name }}</strong>
                {% if clinic.description %}
                    <p>{{ clinic.description }}</p>
                {% else %}
                    <p>No description</p>
                {% endif %}
                <p>{{ distance(searchResults.matchedLocation.latitude, searchResults.matchedLocation.longitude, clinic.latitude, clinic.longitude)|round }} miles away</p>
            {% endfor %}

            {% include 'pagination.html.twig' with {
                currentFilters: pageFilters,
                currentPage: searchResults.currentPage,
                paginationPath: "app_search",
                lastPage: searchResults.totalPages,
                showAlwaysFirstAndLast: true
            } only %}
        {% else %}
            <p>No {{ formData.searchType == 'city' ? 'cities' : 'postal codes' }} found for {{ formData.searchText }}</p>
        {% endif %}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('search') }}
{% endblock %}